/* Coolors Exported Palette - coolors.co/297373-63d7b5-fffedf-393e41-2c302e */

/* HSL */
$color1: hsla(180%, 47%, 31%, 1);
$color2: hsla(162%, 59%, 62%, 1);
$color3: hsla(58%, 100%, 94%, 1);
$color4: hsla(203%, 7%, 24%, 1);
$color5: hsla(150%, 4%, 18%, 1);

/* RGB */
$color1: rgba(41, 115, 115, 1);
$color2: rgba(99, 215, 181, 1);
$color3: rgba(255, 254, 223, 1);
$color4: rgba(57, 62, 65, 1);
$color5: rgba(44, 48, 46, 1);